<div class="col-lg-3 " >

    <div class="mb-4">
        <div class="card">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">{{ user }} </h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                       <p>
                           For more information please
                       </p>

                    </div> <!-- card-body.// -->
                </div>
            </article>
        </div>

    </div>

</div>
