{% extends 'userBundle/BaseTemplate/User_base.html.twig' %}
{% block stylesheet %}
    <style>
        a {
            color: #007bff;
        }
        .avatar--md .avatar__content img{
            width:40px;
            height:40px;
        }
        body {
            background: #f8f8f8;
        }
    </style>
{% endblock %}
{% block body %}



    <main id="main" style="    padding: 14px;">

        <div class="container">
            <div class="row">


                <!--sideBar for search -->
                {% include 'userBundle/index/sidebar.html.twig' %}


                <!--main items -->

                {% include 'userBundle/lost_itemes/itemes.html.twig' %}




            </div>
        </div>

    </main>


{% endblock %}
{% block javascript %}

{% endblock %}


