<div class="col-lg-3">
    <div class="mb-4">
        <div class="small mb-3">Search</div>
        <div class="input-group">
            <input placeholder="Search for..." type="text" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-secondary"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
    <div class="mb-4">
        <div class="small mb-3">Menu</div>
        <ul class="nav flex-column nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active"><i class="fa fa-fw fa-home mr-2"></i>Overview</a></li>
        </ul>
    </div>
    <div class="mb-4">
        <div class="small mb-3">Category</div>
        <ul class="nav flex-column nav-pills">
            <li class="nav-item"><a href="#" class="d-flex nav-link">Analytics Redesign<span class="ml-auto align-self-center badge badge-secondary badge-pill">12</span></a></li>
            <li class="nav-item"><a href="#" class="d-flex nav-link">New Website<span class="ml-auto align-self-center badge badge-secondary badge-pill">4</span></a></li>
            <li class="nav-item"><a href="#" class="d-flex nav-link">Chart for Newsletter<span class="ml-auto align-self-center badge badge-secondary badge-pill">9</span></a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-fw fa-spinner mr-2"></i>Load more</a></li>
        </ul>
    </div>
    <div class="mb-4">
        <div class="small mb-3">People</div>
        <ul class="nav flex-column nav-pills">
            <li class="nav-item">
                <a href="#" class="d-flex nav-link">
                    <div class="media">
                        <div class="mr-3 align-self-center media-left media-middle">
                            <div class="avatar-image avatar-image--loaded">
                                <div class="avatar avatar--md avatar-image__image">
                                    <div class="avatar__content"><img src="http://bootdey.com/img/Content/avatar/avatar1.png"></div>
                                </div>
                            </div>
                        </div>
                        <div class="media-body">
                            <div class="mt-0">Harvey Blick</div><span class="small">Pennsylvania, SD</span></div>
                    </div><i class="fa fa-fw fa-circle text-success ml-auto align-self-center ml-2"></i></a>
            </li>
            <li class="nav-item">
                <a href="#" class="d-flex nav-link">
                    <div class="media">
                        <div class="mr-3 align-self-center media-left media-middle">
                            <div class="avatar-image avatar-image--loaded">
                                <div class="avatar avatar--md avatar-image__image">
                                    <div class="avatar__content"><img src="http://bootdey.com/img/Content/avatar/avatar2.png"></div>
                                </div>
                            </div>
                        </div>
                        <div class="media-body">
                            <div class="mt-0">Hobart Hintz</div><span class="small">North Carolina, CT</span></div>
                    </div><i class="fa fa-fw fa-circle text-warning ml-auto align-self-center ml-2"></i></a>
            </li>
            <li class="nav-item">
                <a href="#" class="d-flex nav-link">
                    <div class="media">
                        <div class="mr-3 align-self-center media-left media-middle">
                            <div class="avatar-image avatar-image--loaded">
                                <div class="avatar avatar--md avatar-image__image">
                                    <div class="avatar__content"><img src="http://bootdey.com/img/Content/avatar/avatar3.png"></div>
                                </div>
                            </div>
                        </div>
                        <div class="media-body">
                            <div class="mt-0">Elmore Cummerata</div><span class="small">Michigan, NC</span></div>
                    </div><i class="fa fa-fw fa-circle text-danger ml-auto align-self-center ml-2"></i></a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-fw fa-plus mr-2"></i>Add New People</a></li>
        </ul>
    </div>
</div>
