<section id="about" class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-img">
                <img src="{{ asset('UserBundle/img/lost-found-banner.jpg') }}" alt="">
            </div>

            <div class="col-lg-6 content">
                <h2>About Find & Lost </h2>
                <h3>
                    FindLost is a Recovery company  which helps return lost items to their rightful owners
                </h3>

                <ul>
                    {% for about in abouts %}
                    <li><i class="ion-android-checkmark-circle"></i> {{ about.descriptionSection }}.</li>
                    {% endfor %}
                </ul>

            </div>
        </div>

    </div>
</section>