<section id="about" class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-img">
                <img src="{{ asset('UserBundle/img/lost-found-banner.jpg') }}" alt="">
            </div>

            <div class="col-lg-6 content">
                <h2>About Find & Lost </h2>
                <h3>
                    FindLost is a Recovery company  which helps return lost items to their rightful owners
                </h3>

                <ul>
                    <li><i class="ion-android-checkmark-circle"></i> First solution fo all the customer.</li>
                    <li><i class="ion-android-checkmark-circle"></i> We offer support in multiple languages</li>
                    <li><i class="ion-android-checkmark-circle"></i> Our Vision is to become a unique point of reference in the Lost Property world's University because nobody should ever be set apart from its memories..</li>
                </ul>

            </div>
        </div>

    </div>
</section>