<section id="clients" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Clients</h2>
            <p>Some of our clients using FIND&LOST . </p>
        </div>

        <div class="owl-carousel clients-carousel">

            <img src="{{ asset('UserBundle/Beuth-Logo_basis.png') }}" alt="">
            <img src="{{ asset('UserBundle/csm_Logos_1330x430_612fe2f37a.jpg') }}" alt="">


        </div>

    </div>
</section>