<section id="services">
    <div class="container">
        <div class="section-header">
            <h2>Services</h2>
            <p>
                Our vision is to provide the largest and most efficient service which delivers the best possible service so our clients and customers trust us with their digital lives.
            </p>
        </div>
        <div class="row">
            {% for service in services %}
            <div class="col-lg-6">
                <div class="box wow fadeInLeft">
                        <div class="icon"><i class="fa ~ {{ service.serviceIcon }}"></i></div>
                    <h4 class="title"><a href="">{{ service.serviceName }}</a></h4>
                    <p class="description">
                    {{ service.serviceDescription }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>