{% extends "adminBundle/Userlayout/layou_reset_request.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
<a href="{{ path('fos_user_security_login') }}">Login ?</a><br>

{% endblock %}
