{% extends 'MainFront/BaseTemplate/main_base.html.twig' %}
{% block body %}
<main id="main">
        {% include 'MainFront/index/section/about.html.twig' %}
        {% include 'MainFront/index/section/services.html.twig' %}
        {% include 'MainFront/index/section/team.html.twig' %}
        {% include 'MainFront/index/section/contact.html.twig' %}
</main>
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function() {
        var locations = {{ resultat|json_encode|raw }};
        console.log(locations);
        lastWindow = null;
        var map;
        var markers = [];
        function initMap() {
            map = new google.maps.Map(document.getElementById('map_canvas'), {
                zoom: 7,
                center: new google.maps.LatLng(47.4177328, 10.7326547),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            var num_markers = locations.length;
            /*if u want to add specific icon
            var icon = {
                url: '{{ asset('UserBundle/map/markermap.png') }}',
                scaledSize: new google.maps.Size(25, 32) ,// scaled size,
                origin: new google.maps.Point(0, 0),
            };
            */
            /*the basedir url */
            var assetsBaseDir = "{{ asset('uploads/logoUser/') }}";
            /*marker */
            for (var i = 0; i < num_markers; i++) {
                var url = Routing.generate('search', {
                    username: locations[i][0],
                });
                markers[i] = new google.maps.Marker({
                    position: {lat: locations[i][1], lng: locations[i][2]},
                    map: map,
                    html: '<spans style="font-weight: bold;float: left">'
                            + locations[i][0] +
                            '</spans>' +
                            '<br>' +
                            '<br>' +
                            '<img  class="img-responsive" style="width: 200px;height: 90px" alt="logo"   src=' + assetsBaseDir + locations[i][3] + '>  ' +
                                '<a class="btn btn-link btn-sm" style="float: right"  href="'+ url +'"   > ' +
                                    'Search Now ' +
                                '</a>',
                    id: i,
                });
                /*Listner to close popup**/
                google.maps.event.addListener(markers[i], 'click', function () {
                    if (lastWindow) lastWindow.close();
                    var infowindow = new google.maps.InfoWindow({
                        id: this.id,
                        content: this.html,
                        position: this.getPosition(),
                        maxWidth: 300
                    });
                    google.maps.event.addListenerOnce(infowindow, 'closeclick', function () {
                        markers[this.id].setVisible(true);
                    });
                    this.setVisible(false);
                    infowindow.open(map);
                    lastWindow = infowindow;
                });
            }
        }
        initMap();
        /********************* END GOOGLE MAP *************/
        /**
         * @desc ajax query to get the places by on the category change
         * Begin -Query
         */
        $('#categorselect').change(function () {
            $.ajax({
                type: "GET",
                cache: false,
                url: Routing.generate('get_listcustomer_by_category'),
                data:{
                        'id' :$(this).val()
                },
                dataType: 'json',
                beforeSend: function() {
                    $('#usersselect').html('<option> loading ...  </option>');
                },
                success: function (data) {
                    var userselect = $('#usersselect');
                    userselect.empty();
                    userselect.append("<option value=''> Where ? </option>");

                    $.each(data, function (index, item) {
                        $('#usersselect').append('<option value="' + item.id + '" >' + item.username + '</option>');
                        //$('#loading').remove();
                    });
                }
            })
        });
        $("#usersselect").select2({
            allowClear: true,
            width: '100%',
            theme: "bootstrap"
        });

    });

</script>
{% endblock %}


